.employeetablecontainer {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #f8f9fa;
}

h2 {
    margin-bottom: 20px;
    color: #343a40;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: #007b5e;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #dee2e6;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #007b5e;
    color: white;
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #c8d1d3;
    cursor: not-allowed;
}

span {
    margin: 0 10px;
    font-size: 16px;
    color: #343a40;
}
